/* ---------------------- */
/* offcanvas */
/* ---------------------- */
.offcanvas.offcanvas-breakpoint-lg {
  width: var(--oui-offcanvas-width-lg, 100%);
}
.offcanvas.offcanvas-breakpoint-lg.offcanvas_left {
  left: calc(var(--oui-offcanvas-width-lg, 100%) * -1);
}
.offcanvas.offcanvas-breakpoint-lg.offcanvas_right {
  right: calc(var(--oui-offcanvas-width-lg, 100%) * -1);
}
@media (max-width: 991.98px) {
  .offcanvas.offcanvas-breakpoint-md {
    width: var(--oui-offcanvas-width-md, 100%);
  }
  .offcanvas.offcanvas-breakpoint-md.offcanvas_left {
    left: calc(var(--oui-offcanvas-width-md, 100%) * -1);
  }
  .offcanvas.offcanvas-breakpoint-md.offcanvas_right {
    right: calc(var(--oui-offcanvas-width-md, 100%) * -1);
  }
}
@media (max-width: 767.98px) {
  .offcanvas.offcanvas-breakpoint-sm {
    width: var(--oui-offcanvas-width-sm, 100%);
  }
  .offcanvas.offcanvas-breakpoint-md {
    width: var(--oui-offcanvas-width-sm, 100%);
  }
  .offcanvas.offcanvas-breakpoint-sm.offcanvas_left {
    left: calc(var(--oui-offcanvas-width-sm, 100%) * -1);
  }
  .offcanvas.offcanvas-breakpoint-sm.offcanvas_right {
    right: calc(var(--oui-offcanvas-width-sm, 100%) * -1);
  }
  .offcanvas.offcanvas-breakpoint-md.offcanvas_left {
    left: calc(var(--oui-offcanvas-width-sm, 100%) * -1);
  }
  .offcanvas.offcanvas-breakpoint-md.offcanvas_right {
    right: calc(var(--oui-offcanvas-width-sm, 100%) * -1);
  }
}

@media (max-width: 767.98px) {
  .offcanvas {
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s ease;
    visibility: hidden;
    pointer-events: none;
  }
  .offcanvas.offcanvas_slide.is_active {
    z-index: 99999;
    visibility: visible;
    pointer-events: auto;
  }
  /* フェードイン */
  .offcanvas.offcanvas_fade {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .offcanvas.offcanvas_fade.is_active {
    opacity: 1;
    z-index: 99999;
    visibility: visible;
    pointer-events: auto;
  }
  .offcanvas.offcanvas_fade.offcanvas_left {
    left: 0 !important;
  }
  .offcanvas.offcanvas_fade.offcanvas_right {
    right: 0 !important;
  }
  .offcanvas + .offcanvas_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 9; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.7s ease;
  }
  .offcanvas_bg.bg_is_active {
    opacity: 1;
    z-index: 3;
    visibility: visible;
    pointer-events: auto;
  }
}


@media (max-width: 991.98px) {
  .offcanvas.offcanvas-breakpoint-md {
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s ease;
    visibility: hidden;
    pointer-events: none;
  }
  .offcanvas.offcanvas-breakpoint-md.offcanvas_slide.is_active {
    z-index: 99999;
    visibility: visible;
    pointer-events: auto;
  }
  /* フェードイン */
  .offcanvas.offcanvas-breakpoint-md.offcanvas_fade {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .offcanvas.offcanvas-breakpoint-md.offcanvas_fade.is_active {
    opacity: 1;
    z-index: 99999;
    visibility: visible;
    pointer-events: auto;
  }
  .offcanvas.offcanvas-breakpoint-md.offcanvas_fade.offcanvas_left {
    left: 0 !important;
  }
  .offcanvas.offcanvas-breakpoint-md.offcanvas_fade.offcanvas_right {
    right: 0 !important;
  }
  .offcanvas-breakpoint-md + .offcanvas_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 9; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  .offcanvas_bg.bg_is_active {
    opacity: 1;
    z-index: 3;
    visibility: visible;
    pointer-events: auto;
  }
}

.offcanvas.offcanvas-breakpoint-lg {
  height: 100vh;
  position: fixed;
  z-index: 99999;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s ease;
  visibility: hidden;
  pointer-events: none;
}
.offcanvas.offcanvas-breakpoint-lg.offcanvas_slide.is_active {
  z-index: 99999;
  visibility: visible;
  pointer-events: auto;
}
/* slide */
/* フェードイン */
.offcanvas.offcanvas-breakpoint-lg.offcanvas_fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.offcanvas.offcanvas-breakpoint-lg.offcanvas_fade.is_active {
  opacity: 1;
  z-index: 99999;
  visibility: visible;
  pointer-events: auto;
}
.offcanvas.offcanvas-breakpoint-lg.offcanvas_fade.offcanvas_left {
  left: 0 !important;
}
.offcanvas.offcanvas-breakpoint-lg.offcanvas_fade.offcanvas_right {
  right: 0 !important;
}
.offcanvas-breakpoint-lg + .offcanvas_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 9; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.offcanvas_bg.bg_is_active {
  opacity: 1;
  z-index: 3;
  visibility: visible;
  pointer-events: auto;
}